.header .container1 {
    display: flex;
    background-color: #1F2937;
    color: #f9faf8;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: space-between;
}

.header {
    display: flex;
    flex-direction: column;
}

.container2 {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #1F2937;
    color: #f9faf8;
    padding-left: 200px;
    padding-right: 200px;
    gap: 40px;
    justify-content: center;
}

.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-top: 0px;
    margin-bottom: 0px;
}

.sub {
    font-size: 18px;
    color: #e5e7eb;
}

.container2 .left {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex: 1;
    justify-content: space-between;
    align-items: left;
}

.container2 .right {
    display: flex;
    flex: 1;
    justify-content: right;
}

.header button {
    width: 100px;
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 7px;
    border-color: #3882F6;
}

.call button {
    width: 100px;
    height: 35px;
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 7px;
    border-color: #ffffff;
    font-weight: bold;
}


body {
    margin: 0px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.logo {
    font-size: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 32px;
}

a {
    color: #f9faf8;
    text-decoration: none;
    font-size: 18px;
}

.info .title
{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.facts {
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
}

.fact1, .fact2, .fact3, .fact4 {
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 3px;
    color: rgb(61, 61, 61);
    text-align: center;
}

.info img {
    border: 2px solid #1F2937;
    border-radius: 10px;
}

.quote {
    display: flex;
    padding-top: 100px;
    flex-direction: column;
    background-color: #E5E7EB;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
}

.quoteText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    color: #51698a;
    font-weight: lighter;
    font-style: italic;
}

.quoteSource {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    color: #3b4d66;
}
.box {
    background-color: #3882F6;
    display: flex;
    padding: 50px 200px;
    gap: 100px;
    border-radius: 10px;
}

.call .container1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.call {
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
}


.callHero {
    font-size: 25px;
    font-weight: bold;
}

.footer {
    background-color: #1F2937;
    color: #ffffff;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 20px;
}